

.box1{
    background-color: rgb(19, 214, 29);
}

.box2{
    background-color: rgb(233, 155, 37);
}

.box3{
    background-color: rgb(58, 16, 155);
}

.box4{
    background-color: rgb(90, 8, 8);
}

.box5{
    background-color: rgb(42, 143, 150);
}

.box6{
    background-color: rgb(78, 151, 75);
}

.box7{
    background-color: rgb(198, 228, 32);
}

.box8{
    background-color: rgb(10, 81, 109);
}
                        
                    
                
                